.subtitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;

    &_margin-bot {
        margin-bottom: 125px;
    }

}