.explore-section {
    padding-top: 80px;
}

.explore {
    display: flex;
    padding: 0 100px;

    &__info {
        display: flex;
        flex-direction: column;
    }
    &__subtitle {
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            left: 0;
            bottom: -21px;
            background: #202336;
            border-radius: 4px;
            border-bottom: 1px solid #202336;

        } 
    }

    &__img {
        width: 687px;
        height: 654px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.select-block {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 220px;
        height: 52px;
        border: 0.8px solid #AFB0B9;
        box-sizing: border-box;
        border-radius: 6px;
        max-width: 470px;  
        position: relative;
        padding-left: 31px;
        padding-right: 20px;
        box-sizing: border-box;
        option {
            position: absolute;
            margin-left: 30px;
        }
        &:nth-child(1) {
            margin-bottom: 35px;
        }
    }
    &__item:nth-child(odd) {
      margin-right: 30px;  
    }

   
}

.title {
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 74px;

}
