.footer {
    padding-top: 360px;
}
.footer-description {
    display: flex;
    flex-direction: column;
}

.descriptions {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    .description {
        max-width: 391px;
        min-height: 237px;
        display: flex;
        margin-right: 108px;
        flex-direction: column;
        &:last-child {
            margin-right: 0;
        }
        &__logo {
            width: 44px;
            height: 44px;
            margin-bottom: 26px;
            img {
                width: 100%;
            }
        }

        &__text {
            margin-bottom: 15px;
            font-family: Mulish;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            color: #848484;
        }
        &__reserve {
            font-family: Mulish;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            color: #848484;
            margin-bottom: 80px;
        }
        &__title {
            font-family: Mulish;
            margin-bottom: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            color: #000000;
        }
        &__elem {
            font-family: Mulish;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            color: #848484;
            margin-bottom: 20px;
        }
    }
}

.socials-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #C4C4C4;
    padding: 32px 0;
    .socials {
        display: flex;
        .social {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 769px) {
    .descriptions {
        display: flex;
        padding: 0 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        .description {
            margin-right: 108px;
            &__text {
                font-size: 15px;
            }
            &__reserve {
                font-size: 15px;
            }
            &__elem { 
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .descriptions {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
        .description {
            margin-right: 40px;
            &__text {
                font-size: 15px;
            }
            &__reserve {
                font-size: 15px;
            }
            &__elem { 
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .descriptions {
        display: flex;
        align-items: center;
        padding: 0 10px;
        .description {
            margin-right: 0px;
            &__text {
                font-size: 20px;
            }
            &__reserve {
                font-size: 20px;
            }
            &__elem { 
                font-size: 20px;
            }
        }
    }
}